CLAUDE.md
AGENTS.md
.claude
.ruff_cache
.ropeproject

# MkDocs build output
site/
__pycache__/
*.pyc
*.egg-info/
tmp
local
.DS_Store
**/build
**/dist
.prove
.opencode
conversations
.hidden/
MEMORY.md
.pytest_cache
.claudeignore
.envrc
.venv
.prove_cache
