.highlight .nf {
    color: #c678dd;
}

.highlight .nv {
    color: #98c379;
}

.highlight .nc {
    color: #61afef;
}

.highlight .kc {
    color: #d19a66;
}

.highlight .o {
    color: #56b6c2;
}

.highlight .p {
    color: #abb2bf;
}

.highlight .na,
.highlight .nn {
    color: #e5c07b;
}

.highlight .k {
    color: #c678dd;
}

.highlight .kt {
    color: #56b6c2;
}
