# Build artifacts
build/
dist/
*.egg-info/

# Python
__pycache__/
*.pyc
*.pyo
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Prove
.prove/

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
.ropeproject
